.section {
  border-radius: 30px;
  width: 720px;
  height: 530px;
  background: var(--lightgray-color, gray);
  padding: 98px 64px;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: var(--black-color, black);
  margin-bottom: 32px;
}

.highlighted {
  background-color: var(--secondary-color, yellow);
  border-radius: 10px;
  font-style: italic;
  font-weight: 400;
}

.text {
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  color: var(--black-color, black);
  margin-bottom: 64px;
}

.link {
  border-radius: 12px;
  padding: 16px 88px;
  width: 267px;
  height: 60px;
  background: var(--primary-color, khaki);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--black-color, black);
}
