.modalOpen {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color, gray);
  z-index: 999;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  margin: 20px 0;
}

.link {
  font-size: 24px;
  color: var(--black-color, black);
  text-decoration: none;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.active {
  color: var(--primary-color, yellow);
}
