.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.moreBtn {
  border-radius: 12px;
  padding: 16px 48px;
  width: 183px;
  height: 60px;
  background: var(--primary-color, yellow);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--black-color, black);
  margin-top: 64px;
  display: flex;
  align-self: center;
}
