.container {
  width: 583px;
  height: 74px;
  margin: 0 64px 32px;
}

.list {
  display: flex;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--gray-color, gray);
}

.select {
  border-radius: 14px;
  padding: 14px 13px 14px 18px;
  background-color: var(--white-color, white);
  /* width: 221px;
  height: 48px; */
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--black-color, black);
  border: none;
}
