.item {
  border-radius: 24px;
  padding: 24px;
  width: 1184px;
  height: 328px;
  background: var(--white-color, white);
  padding: 24px;
  margin: 0 auto;
  display: flex;
  gap: 48px;
}

.circle {
  width: 120px;
  height: 120px;
  border: 3px solid var(--secondary-color, yellow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.onlineIcon {
  position: absolute;
  top: 16px;
  right: 20px;
}

.container {
  outline: 1px solid red;
  width: 968px;
}

.mainInfoWrapper {
  width: 968px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.languagesText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color, gray);
  margin-bottom: 8px;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #121417;
}

.lessonsWrapper {
  width: 697px;
  height: 26px;
  display: flex;
}

.lessonsInfo {
  width: 607px;
  height: 24px;
  margin-right: 64px;
  display: flex;
  gap: 32px;
}

.lessonsOnlineWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.bookImg {
  width: 16px;
  height: 16px;
}

.lessonsText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color, black);
}

.ratingWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.teacherInfo {
  outline: 1px solid red;
  margin-bottom: 16px;
}

.criterion {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color, gray);
}

.criterionLang {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--black-color, black);
}

.criterionText {
  color: var(--black-color, black);
}

.criterion:not(:last-child) {
  margin-bottom: 8px;
}

.readMoreBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--black-color, black);
}

.levelsList {
  margin-top: 32px;
  outline: 1px solid red;
  display: flex;
  gap: 8px;
}

.levelsItem {
  border-radius: 35px;
  padding: 8px 12px;
  border: 1px solid rgba(18, 20, 23, 0.2);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  color: var(--black-color, black);
}

.levelsItem:first-child {
  background: var(--primary-color, yellow);
  border: none;
}
