.container {
}

.loginButton {
  display: flex;
  align-items: center;
  gap: 8px;

  background-color: var(--primary-color, yellow);
  padding: 14px;
  border-radius: 12px;
}

.logoutIcon {
  display: none;
}

.loginText {
  text-wrap: nowrap;
}

.registerButton {
  color: var(--white-color, white);
  background-color: var(--black-color, black);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  padding: 14px 14px;
  text-align: center;
  border-radius: 12px;
  width: 122px;
}

.unsignedWrapper,
.signedWrapper {
  display: flex;
  gap: 8px;
}

@media (min-width: 768px) {
  .container {
  }

  .loginButton {
    display: flex;
    align-items: center;
    gap: 8px;

    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }

  .logoutIcon {
    display: block;
  }

  .loginText {
    text-wrap: nowrap;
  }

  .registerButton {
    width: 166px;
  }

  .unsignedWrapper,
  .signedWrapper {
    gap: 16px;
  }
}
