.container {
}

.loginButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loginText {
  text-wrap: nowrap;
}

.registerButton {
  color: var(--white-color, white);
  background-color: var(--black-color, black);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  padding: 14px 14px;
  text-align: center;
  border-radius: 12px;
  width: 166px;
}

.unsignedWrapper,
.signedWrapper {
  display: flex;
  gap: 16px;
}
