.modalOpen {
  overflow: hidden;
}

.modalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContainer {
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  /* padding: 40px; */
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
}

.btnClose {
  width: 24px;
  height: 24px;
  background-color: inherit;
  position: absolute;
  top: 40px;
  right: 40px;
  fill: #101828;
}

.btnClose:hover,
.btnClose:focus {
  fill: #475467;
}
